<!DOCTYPE html>
<html>

<head>
    <title>Dandansoy</title>
    <link rel="stylesheet" type="text/css" media="screen" href="PH/Dandansoy/Dandansoy.css" />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">

    <script>
        audiojs.events.ready(function () {
            var as = audiojs.createAll();
        });
    </script>

</head>

<body ng-controller="DandansoyCtrl">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SingCloud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#/welcome">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/uploadFile">Upload a Song</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/playlist">Random Playlist</a>
                </li>
                <li>

                    <div class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Region
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#/US">America</a>
                            <a class="dropdown-item" href="#/PH">Philippines</a>
                            <a class="dropdown-item" href="#/ENGLAND">England</a>
                            <a class="dropdown-item" href="#/SOUTH AFRICA">South Africa</a>
                            <a class="dropdown-item" href="#/French">France</a>
                            <a class="dropdown-item" href="#/CN">Canada</a>
                            <a class="dropdown-item" href="#/IRELAND">Ireland</a>
                        </div>
                    </div>

                </li>
                <li class="nav-item" id="logout">
                    <a class="nav-link disabled" ng-click="logout()" href="#">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <header> Dandansoy - Nora Aunor</header>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row vdivide">
            <div class="col-sm-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/A3WrW4EPupw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div>
                    <audio src="https://firebasestorage.googleapis.com/v0/b/project-management-10eca.appspot.com/o/Dandansoy%20-%20Nora%20Aunor.mp3?alt=media&token=2f4dd42f-044d-432e-9014-69bd2be5d592"
                        preload="auto">
                </div>
                <p class="description">Dansansoy is a popular Ilonggo Folk Song, sung even by non-Ilonggos. Dandansoy
                    is one of the folk songs featured in a dance medley used in the Bacolod MassKara Festival.
                    <br>
                    In the song, the singer bids farewell to a boy named Dansoy. I remember my mother singing this song
                    to me
                    when I was a kid in Iloilo. I would ask her where Payao is but unfortunately, she didn’t know. From
                    then on, I thought Payao was a fictional place. Little did I know that it’s a barangay in the town
                    of Binalbagan which I only learned when I moved here in Bacolod. Unfortunatlely, most people from
                    Iloilo don’t know where Payao is.<br>
                    <br>
                    There’s a debate going on in the net about the actual writer of Dandansoy. This song is popularly
                    known to be written by Augorio Abeto who hails from Binalbagan. He was a famous Ilonggo poet in the
                    1930’s and also a mayor of Binalbagan in 1941-1945.I could not find a record online as to when he
                    actually wrote the song but there are references to his songs being popularized during the Japanese
                    occupation.

                </p>
            </div>
            <div class="col-sm-5" id="containerLyrics">
                <h1> Lyrics </h1>
                <p class="lyrics">

                    Dandansoy, bayaan ta icao<br>
                    Pauli aco sa Payao<br>
                    Ugaling con icao hidlauon<br>
                    Ang Payaw imo lang lantauon.<br>
                    <br>
                    Dandansoy, con imo apason<br>
                    Bisan tubig di magbalon<br>
                    Ugaling con icao uhauon<br>
                    Sa dalan magbobonbobon.<br>
                    <br>
                    Convento, diin ang cura?<br>
                    Municipio, diin justicia?<br>
                    Yari si dansoy maqueja.<br>
                    Maqueja sa paghigugma<br>
                    <br>
                    Ang panyo mo cag panyo co<br>
                    Dala diri cay tambijon co<br>
                    Ugaling con magcasilo<br>
                    Bana ta icao,asawa mo aco.<p>
            </div>

            <div class="col-sm-3">

                <a class="btn btn-social-icon btn-twitter">
                    <span class="fa fa-twitter"></span>
                </a>

                <a class="btn btn-social-icon btn-facebook">
                    <span class="fa fa-facebook"></span>
                </a>

                <a class="btn btn-social-icon btn-instagram">
                    <span class="fa fa-instagram"></span>
                </a>

                <a class="btn btn-social-icon btn-google">
                    <span class="fa fa-google"></span>
                </a>

                <a class="btn btn-social-icon btn-linkedin">
                    <span class="fa fa-linkedin"></span>
                </a>

                <a class="btn btn-social-icon btn-yahoo">
                    <span class="fa fa-yahoo"></span>
                </a>
                <hr>
                <p class="details">Song details</p>

                <p class="songDetails">Song Name : Dandansoy<br>
                    By : Nora Aunor<br>
                    Country : Philippines<br>
                    Date Added : 15 Sept 2018<br>
                    Genre : Pop</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid" id="comments">
        <header>Reviews</header>
        <hr>
        <div class="row" ng-repeat="article in articles">
            <div class="col-sm-12">
                <p class="username"><span class="glyphicon glyphicon-user"></span> From : {{article.username}}</p>
                <p class="comment">Comment : {{article.comment}}</p>
            </div>
        </div>
    </div>
    </div>

    <div class="container-fluid" id="comments">

        <form role="form" name="postForm" ng-submit="createPost()" novalidate="">
            <legend>Comments</legend>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group" ng-class="{'has-error': postForm.usernameTxt.$invalid && postForm.usernameTxt.$touched}">
                        <label for="usernameTxt">Your Name</label>
                        <input type="text" name="usernameTxt" class="form-control" placeholder="Name" ng-model="article.usernameTxt"
                            ng-minlength="5" required="">
                        <small class="help-block" ng-show="postForm.titleTxt.$error.minlength && postForm.titleTxt.$touched">Please
                            enter a valid title for post.</small>
                    </div>
                    <div class="form-group" ng-class="{'has-error': postForm.commentTxt.$invalid && postForm.commentTxt.$touched}">
                        <label for="commentTxt">Comment</label>
                        <textarea name="commentTxt" class="form-control" placeholder="Comments Here!" ng-model="article.commentTxt"
                            ng-minlength="20" required=""></textarea>
                        <small class="help-block" ng-show="postForm.postTxt.$error.minlength && postForm.postTxt.$touched">Please
                            enter a valid post.</small>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Add Comments</button>
                        <div class="container" ng-show="success">
                            <div class="row">
                                <div class="alert alert-success">
                                    <strong>Success!</strong> The comment has beed added.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

</body>

</html>